@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

html {
  overflow-x: hidden; 
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13vh;
    display: flex;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100; 
}


.title{
    display: flex;
    padding: 5px;
}

.name{
    /* border: 2px solid blue; */
    padding-top: 20px;
    padding-left: 10px;
    width: fit-content;
}

.logo{
    /* border: 2px solid blue; */
    padding-top: 5px;
    padding-left: 5px;
    height: 10vh;
    width: 5vw;
}

.cont_info{
    display: flex;
    padding: 5px;
    margin-left: 65vw;

}
.mobile, .mail {
    color: #2F4454;
  }
.phone{
    /* border: 2px solid blue; */
    padding-top: 20px;
    padding-left: 5px;
    width: fit-content;
}

.email{
    /* border: 2px solid blue; */
    padding-top: 20px;
    padding-left: 40px;
    width: fit-content;
}

/* --------------------------------------------------------------------------------------------------- */

.category{
    /* border: 1px solid blue; */
    height: fit-content;
    width: 7vw;
    margin-top: 100px;
    margin-left: 87vw;
    position: fixed;


}
.cat_box {
  width: 80px;
  padding: 3px;
  padding-top: 5px;
  margin-left: 20px;
  height: 25px;
  background-color: whitesmoke;
  margin-top: 15px; 
  text-align: center;
}

.cat_box p {
  font-size: 15px;
  color: black; /* Set default text color */
}

#present  {
  background-color: #2F4454;
}

#present p {
  color: white;
}

.cat_box:hover {
  cursor: pointer;
  background-color: #2F4454;
}

.cat_box:hover p a {
  color: white; /* Change text color to white on hover */
}

.cat_box p a {
  text-decoration: none;
  color: black;
}


/* ----------------------------------------------------------------------------------------- */

.main_title{
    /* border: 1px solid red; */
    width: 300px;
    height: 50px;
    margin-top: 140px;
    position: relative;
    margin-left: 40%;
}

.leader_title P{
    font-size: 35px;
    color: #134f33;
}

.leader_title{
    position: relative;
    display: inline-block;
}

.leader_title::after {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 50%; 
    width: 50%; 
    height: 3px;
    background-color: #134F33; 
    animation: lineAnimation 4.5s infinite;
  }

  .span_line{
    height: 3px;
    width: 80px;
    margin-left: 30%;
    background-color: #8DC63F;
    text-shadow: 2px 2px 4px rgba(2, 2, 2, 4);
    font-style: italic;
  }

  @keyframes lineAnimation {
    0%, 100% {
      width: 50%; 
      left: 50%; 
      transform: translateX(-50%);
    }
    40%, 60% {
      width: 0; 
      left: 50%; 
      transform: translateX(0);
    }
  }

  /* --------------------------------------------------------------------------------------- */

  .bod {
    background-color: #2F4454;
    width: 180px;
    height: 40px;
    margin-left: 110px;
    margin-top: 63px;
}

  .bod p{
    padding-top: 10px;
    padding-left: 10px;
    color: white;
  }

  .bod_line {
    margin-left: 110px;
    width: 1090px;
    height: 1px;
    background-color: silver;
}
  /* ----------------------------------------------------------------------------------------- */

  .container {
    position: relative;
    /* border: 1px solid red; */
    height: fit-content;
    overflow: hidden;
    width: fit-content;
    margin-left: 40%;
    margin-top: 30px;
  }

  
  
  .thumbnail {
    /* border: 1px solid red; */
    overflow: hidden;
    width: 220px; 
    height: 260px;
    cursor: pointer;
    transition: transform 0.5s ease;
  }

  .thumbnail:hover{
    transform: scale(1.1);
  }

  .text-overlay {
    margin-top: 90px;
    margin-left: 10px;
    font: 30px;
    /* border: 1px solid red; */
    width: 190px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
}


.text-overlay p {
    margin: 0;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(2, 2, 2, 4);
}

.text-overlay span{
  /* border: 1px solid red; */
  top: 10%;
}


  .thumbnail img{
    width: 100%; 
    height: 100%;
    object-fit: cover; 
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999; 
  }
  
  .expanded-thumbnail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
    z-index: 10000;
  }
  
  .expanded-thumbnail img {
    max-width: 40%;
    max-height: 50%;
  }
  
  .expanded-thumbnail p {
    margin-top: 10px;
    width: 70%px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
  }
  

  /* --------------------------------------------------------------------------------------------- */

  .leaders {
    width: 80vw;
    margin-left: 80px;
    margin-top: 50px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.container2 {
  position: relative;
  /* border: 1px solid red; */
  height: fit-content;
  overflow: hidden;
  width: fit-content;
  margin-left: 50px;
  margin-top: 30px;
}

.container3 {
    position: relative;
    /* border: 1px solid red; */
    height: fit-content;
    overflow: hidden;
    width: fit-content;
    margin-left: 50px;
    margin-top: 30px;
  }

  .container4 {
    position: relative;
    /* border: 1px solid red; */
    height: fit-content;
    overflow: hidden;
    width: fit-content;
    margin-left: 50px;
    margin-top: 30px;
  }

  .container5 {
    position: relative;
    /* border: 1px solid red; */
    height: fit-content;
    overflow: hidden;
    width: fit-content;
    margin-left: 50px;
    margin-top: 30px;
  }
  
/* ---------------------------------------------------------------------------------------- */

.box5{
    width: 100vw;
    height: 80px;
    background-color: #2F4454;
    display: flex;
    margin-top: 250px;

}

.box5_box1{
    /* border: 1px solid red; */
    height: fit-content;
    width: 500px;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 14px;
}

.box5_box1 p{
    /* border: 1px solid red; */
    color: white;
    font-size: 14px;
    padding-top: 30px;
    margin-left: 50px;
}

.box5_box2{
    /* border: 1px solid red; */
    height: fit-content;
    width: 500px;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 50vw;
    display: flex;
}
.box5_box2_logo{
    /* border: 1px solid red; */
    margin-top: 15px;
    height: 7vh;
    width: 20px;
    padding-top: 5px;
    padding-left: 5px;

}

.box5_box2_text p{
    color: white;
    font-size: 14px;
    padding-top: 30px;
    margin-left: 10px;
}

.box5_location-icon{
    font-size: 22px;
}